<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>EmployeeInformation</display-name>
  <welcome-file-list>
    <welcome-file>Home.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MyListener</display-name>
    <servlet-name>MyListener</servlet-name>
    <servlet-class>com.Empl.web.MyListener</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyListener</servlet-name>
    <url-pattern>/MyListener</url-pattern>
  </servlet-mapping>
<!--   <listener>
    <listener-class>com.Empl.web.MyListener</listener-class>
  </listener> -->
   <servlet>
    <servlet-name>Jersey REST Service</servlet-name>
    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>com.sun.jersey.config.property.packages</param-name>
      <param-value>com.xch.rest</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jersey REST Service</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MainController</display-name>
    <servlet-name>MainController</servlet-name>
    <servlet-class>com.Empl.web.MainController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainController</servlet-name>
    <url-pattern>/insert</url-pattern>
    <url-pattern>/viewall</url-pattern>
    <url-pattern>/viewbyid</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.Empl.web.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
    <url-pattern>/login</url-pattern>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MarkIn</display-name>
    <servlet-name>MarkIn</servlet-name>
    <servlet-class>com.Empl.web.MarkIn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MarkIn</servlet-name>
    <url-pattern>/markin</url-pattern>
    <url-pattern>/markout</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>10</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>Attendance</display-name>
    <servlet-name>Attendance</servlet-name>
    <servlet-class>com.Empl.web.Attendance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Attendance</servlet-name>
    <url-pattern>/attendence</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AssignedProjects</display-name>
    <servlet-name>AssignedProjects</servlet-name>
    <servlet-class>com.Empl.web.AssignedProjects</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignedProjects</servlet-name>
    <url-pattern>/project</url-pattern>
  </servlet-mapping>
</web-app>